@import "tailwindcss";

@layer utilities {
  @media print {
    .no-print {
      display: none !important;
    }
    body {
      background: white !important;
      color: black !important;
      font-size: 11pt;
    }
    @page {
      size: A4 portrait;
      margin: 10mm;
    }
  }
}
